.footer {
    position: absolute;
    bottom: 0;
    height: 6vh;
    width: 100%;
    border-top: 1px solid rgb(143, 143, 143);
    color: #777777;
}

.actions {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    align-items: center;
}

.actions span {
    margin: 10px;
    padding: 3px;
    border: 1px solid #e3e3e3;
}
span:hover {
    border: 1px solid rgb(83, 83, 83);
}